#MainFrame {
    background-color: #303030;
    height: 150px;
    width: 650px;
}

#Username {
    color: #eeeeee;
    font-weight: bold;
    font-size: 24px;
    margin-top: 22px;
}

#TopBar {
    display: flex;
    justify-content: space-between;
    background-color: #202020;
    height: 70px;
    width: 650px;
}

#Content {
    color: #eeeeee;
    margin: 10px;
}

#ArrowUp {
    color: #eeeeee;
    margin-top: 20px;
    margin-left: 25px;
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid;
    transform: rotate(-90deg);
}

#ArrowUp:hover {
    color: orange;
}

#Options {
    color: #eeeeee;
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
    font-size: 20px;
}

#Options:hover {
    background-color: #404040;
}