.MainFrame {
    background-color: #303030;
    height: 150px;
    width: 650px;
}

.Username {
    color: #eeeeee;
    position: absolute;
    left: 100px;
    font-weight: bold;
    font-size: 24px;
    margin-top: 22px;
}

.TopBar {
    display: flex;
    background-color: #202020;
    height: 70px;
    width: 650px;
}

.Content {
    color: #eeeeee;
    margin: 10px;
}

.ArrowUp {
    color: #eeeeee;
    position: absolute;
    left: 20px;
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid;
    transform: rotate(-90deg);
}

.ArrowUp:hover {
    color: orange;
}

.ArrowDown {
    color: #eeeeee;
    position: relative;
    left: 20px;
    top: 40px;
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid;
    transform: rotate(90deg);
}

.ArrowDown:hover {
    color: orange;
}

.upvotes {
    position: relative;
    top: 20px;
    width: 30px;
    text-align: center;
}

.Options {
    color: #eeeeee;
    position: absolute;
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
    font-size: 20px;
    right: 0px;
}

.Options:hover {
    background-color: #404040;
}